@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
}

#blog h1 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}

#blog h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

#blog h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

#blog li {
  list-style-type: circle;
  margin-inline-start: 20px;
}

#blog li:first-of-type {
  margin-block-start: 14px;
}

#blog li:last-of-type {
  margin-block-end: 14px;
}

#blog p {
  margin-bottom: 14px;
}

#blog a {
  text-decoration: underline;
}

pre {
  padding: 0.75rem;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 0.3rem;
  overflow-y: auto;
  border: 1px solid #27272a;
  font-size: 12px;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
